<style type="text/css">

html {
	font-family: Arial, Helvetica, verdana sans-serif;
	font-size: 0.9em;
	font-style: normal;
}

body {
	margin-left: 2em;
	margin-right: 2em;
}

/* set default tab size to 4 characters - no IE support */
pre xmp {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

h1 {
	font-size: 1.5em;
}

/* TODO Get header (and first row of table) to stay at top of screen */
.floattopright {
	position: fixed;
	right: 0;
	background-color: white;
	display: inline-block;
	float: right;
	margin-right: 40px;
	z-index: 1000;
}

table {
	background-color: #fff;
	border-collapse: collapse;
	width: calc(100%);
}

table thead th {
	border-right: 1px solid #fff;
	color: #fff;
	text-align: center;
	padding: 2px 12px;
	text-transform: uppercase;
	height: 25px;
	background-color: #a3c159;
	font-weight: normal;
}

/*
tfoot {
color:#1ba6b2;
padding:2px;
text-transform:uppercase;
font-size:1.2em; 
 font-weigth: bold;
margin-top:6px;
border-top: 6px solid #e9f7f6;
}
*/

table tbody tr {
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
}

table tbody td {
	color: #414141;
	padding: 5px;
	text-align: left;
}

table tbody tr td.output {
	text-align: left;
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAYAAACEhIafAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAABdJREFUGFdjAAJlECEFIoRABCcQMzAAAAWUAFmQZlpWAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	margin: 0;
	padding: 12px 0 8px 0;
	position: relative;
}

table tbody tr.record:hover {
	background: #ffffd3;
	background: -moz-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffd3), color-stop(100%, #ffffaf));
	background: -webkit-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
	background: -o-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
	background: -ms-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
	background: linear-gradient(to bottom, #ffffd3 0%, #ffffaf 100%); 
	cursor: pointer;
}

TH.Message { width: 100%; }
TD.Message { word-break: break-all; }

TR.step {
	background: #a3c159; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, white, #a3c159);
}

TD.warn { color: orange; font-weight: bold; }
TD.error, TD.fatal { color: #FF4040; font-weight: bold; }
TD.Time, TD.Date { text-align: right; }
TD.FileOfCaller { max-width: 19em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.greyed { color: #999; }

/* Stack Trace */
.exceptionMessage {
	border-top: none;
	background-color: #fdd;
	font-family: Courier New, Courier, Monospace;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 12px !important;
	padding-right: 12px !important;
	text-decoration: none !important;
}

.stackTrace, .stackTrace * {
	font-weight: normal;
}

.stackTrace {
	display: none;
	padding: 1px 4px 4px 4px;
	border-top: 1px dotted black;
}

.stackTraceExceptionMessage {
	display: block;
	font-family: Courier New, Courier, Monospace;
	font-size: 8pt;
	white-space: wrap;
	padding: 1px 0px 1px 0px;
}

.stackTraceEntry {
	white-space: nowrap;
	font-family: Courier New, Courier, Monospace;
	display: block;
	font-size: 8pt;
	padding: 1px 0px 1px 32px;
}

.stackTraceButton {
	font-size: 8pt;
	margin: 2px 8px 2px 0px;
	font-weight: normal;
	font-family: Arial;
}

/* Screenshot */
img.screenshot {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 0;
	height: auto;
	border: solid 1px black;
	z-index: 3000;
	border: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

img.sizewidth {
	height: auto;
	border: 1px solid lightgrey;
}

img.sizeheight {
	width: auto;
	border: 1px solid lightgrey;
}

/* Embedded Object */
.attachmentMenu {
	text-align: right;
}

div.resizeable {
	box-sizing: border-box;
	border: 1px solid lightgrey;
	/* resize:both; */
	overflow: hidden;
	max-height: 100px;
}

div.resizeable>object {
	box-sizing: border-box;
	margin: 0px;
	width: auto;
	height: auto;
}

div.resizeable>xmp {
	box-sizing: border-box;
	margin: 0px;
	width: 0; /* XMP tag not obeying parent size without this */
}

/* IE & EDGE hack for above */
_:-ms-lang(x), div.resizeable>xmp { 
	white-space: pre-wrap; 
}

.fadeout {
	position:relative;
}

.fadeout:after {
    content:"";
    position:absolute;
    top:60px;
    left:0;
    height:40px;
    width:2000px; /* Force extra wide as cannot get flexible width with xmp.resizeable */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

</style>